    <!-- footer -->
    <div class="footer">
        <p>Created by Muhammad Nurkholiq © 2021</p>
    </div>

    <!-- jquery -->
    <script src="/static/bootstrap/js/jquery-3.6.0.min.js"></script>

    <!-- bootstrap -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>