<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{!-- icon pavicion  --}}
    <link rel="shortcut icon" href="/static/icons/music.png" type="image/x-icon">

    {{!-- bootstrap --}}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    {{!-- fontawesome --}}
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">

    {{!-- mycss --}}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{css}}">

</head>
<body>