/* google font */

/* merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 34, 34);
}

/* navbar */
.navbar {
    background-color: #000;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 160%;
}

.nav-item {
    font-family: 'Spartan', sans-serif;
}

.log {
    color: #95D600 !important; 
}

.dropdown-menu {
    margin-left: 78%;
}

.dropdown-menu .dropdown:hover {
    margin-left: -0.1%;
}

.nav-item .avatar {
    margin-left: 90%;
}

.img-avatar {
    width: 50%;
    margin-top: -6% !important;
}

/* ending navbar */

/* body */
.no-data {
    width: 40%;
    margin-left: 28%;
    margin-bottom: -9%;
}
/* ending body */

/* footer */
.footer {
    margin-top: 15%;
    color: white;
    text-align: center;
}
/* ending footer */